* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title {
    color: #642a73;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}

header {
    width: 100%;
    height: 810px;
    background: #5f2c82;
    /* fallback for old browsers */
    background: linear-gradient(to right, hsla(178, 57%, 34%, 0.15), hsla(276, 49%, 34%, 0.45)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(178, 57%, 34%, 0.15), hsla(276, 49%, 34%, 0.45)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
}

nav>a:hover {
    text-decoration: underline;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.text-header h1 {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
}

.text-header h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}


.container-about-us{
    display: flex;
    justify-content: space-evenly;
}

.image-about-us{
    width: 50%;
}

.about-us .content-text{
    width: 50%;
}

.content-text h3{
    margin-bottom: 15px;
}

.content-text h3 span {
    background: #6c63ff;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5)
}

.content-text p{
    padding: 0px 0px 30px 15px;
    text-align: justify;
    font-weight: 400;
}


.movies{
    background: #dedede;
}

.clients{
    background: #dedede;
}

.gallery-movie{
    display: flex;
    /* text-align: justify; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-movie{
    width: 25%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5)
}

.image-movie > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(288, 46%, 31%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-gallery img{
        width: 70px;
}

.hover-gallery p {
    color:#fff
}

.image-movie:hover .hover-gallery{
    transform: scale(1);
}


.about-services{
    padding-bottom: 100px;
}

.service-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-int{
    width:30%;
    text-align: center;
}

.service-int img{
    width:85%
}

.service-int h3{
    margin: 10px;
    text-transform: uppercase;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #642a73;
    display: flex;
    width: 45%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5)
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.content-text-card{
    width: 60%;
    color:#fff;
}

.content-text-card p {
    font-weight: 300;
    padding-top: 5px;
}

footer{
    background: #642a73;
    padding: 60px 0 30px 0;
    margin:auto;
    overflow: hidden;
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-footer {
    text-align: center;
}
.content-footer h4{
    color: #fff;
    border-bottom: 3px solid #807d81;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.content-footer p{
    color:#fff
}

.title-final{
    text-align: center;
    font-size: 24px;
    margin:24px 0 0 0 ;
    color:#979797
}