*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    scroll-behavior: smooth;
}

.container{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;/*el alto de pantalla*/
    background-image: linear-gradient(to top, rgba(48, 208, 208, 0.5) 0%, rgba(51, 8, 103, 0.5) 100%),url(../img/ironman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff
}

.menu{
    position: fixed;
    z-index: 1;
    top:30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navigation{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;/*ancho de la pantalla*/
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

/*header:hover .menu-navigation{
    transform: translate(0);
}*/

.show-menu-navigation{
    transform: translate(0);
}



.menu-navigation a{
    color: #fff;
    text-decoration: none;
    /*margin-top: 40px;
    font-size: 40px;*/
}

.title{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitle{
    text-align: center;
    font-weight: 400;
    color: #290368;
    margin-bottom: 40px;
    font-size: 40px;
}

.container-movies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.container-movies img{
    width:40%
}

.checklist-movies{
    width: 45%;
}

.movie{
    margin-bottom: 20px;
}

.n-movie{
    margin-bottom: 7px;
    color:#290368;
}

.number{
    display: inline-block;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
}

.gallery{
    background: #f2f2f2;
}

.container-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-gallery{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image-light{
    position: fixed;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: trasform .2s ease-in-out;
}

.show{
    transform:translate(0)
}

.add-image{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.aboutus{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-aboutus{
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}
.cont-aboutus img{
    width: 80%;
    display: block;
    margin: auto;
}

.n-about{
    display:inline-block;
    width:100%;
    margin-top: 20px;
    font-weight: 400;
}


footer{
    background: #290368;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-us{
    width: 40%;
    color:#fff
}

.brand{
    font-weight: bold;
    font-size: 40px;
}

.brand p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    color:#fff;
    width: 60px;
    height: 60px;
    border:1px solid #fff;
    text-align: center;
    border-radius: 50%;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#290368
}