@media screen and (max-width:800px){
    .menu-navigation{
        width: 50vw;
    }
    .title{
        font-size: 40px;
    }
    .copy{
        font-weight: 300;
        font-size: 20px;
    }
    .container-movies img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-movies{
        width: 80%;
        text-align: justify;
    }

    .movie{
        margin-bottom: 30px;
    }

    .img-gallery{
        width: 45%;
    }

    .add-image{
        width: 80%;
    }

    .cont-aboutus{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}


@media screen and (max-width:350px){
    .menu-navigation{
        width: 65vw;
    }

    .menu{
        top:20;
        right: 20;
    }

    .add-image{
        width: 95%;
    }

    .title{
        font-size: 30px;
    }
    
    .copy{
        font-size: 15px;
    }

    .subtitle{
        font-size: 25px;
    }

    .img-gallery{
        width: 95%;
    }

    .cont-aboutus{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}