body{
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    background: #212020;
    font-size: 12px;
    color: #8a8a79;
}

a:link,a:visited{
    color: #dcc451;
    text-decoration: none;
    font-weight: normal;
}

a:active,a:hover{
    color:#ccff00;
    text-decoration:none
}

p{
    margin: 0;
    padding: 0;
}

img{
    margin: 0;
    padding: 0;
    border: none;
}


.cleaner{
    clear: both;
    width: 100%;
    height: 0px;
}

.cleaner_20{
    clear: both;
    width: 100%;
    height: 20px;
}


.cleaner_50{
    clear: both;
    width: 100%;
    height: 50px;
}

.button a{
    display: block;
    width: 120px;
    height: 25px;
    padding: 5px 0 0 15px;
    background: url(/assets/img/button_01.png) no-repeat;
    color: #faeba6;
    font-size: 12px;
    font-weight: bold;
}

.button a:hover{
    color: #fff;
}

h1,h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.image_wrapper{
    border: 1px solid #fff;
}

.fl_image{
    float: left;
}

.list{
    margin: 0 0 20px 20px;
    padding: 0;
    list-style: none;
}

.list li{
    margin: 0 0 15px 0;
    padding:  0  0  0 30px;
    background: url(/assets/img/list_icon.jpg) top left no-repeat;
}

#container{
    width: 980px;   
    margin: auto;
}

#menu{
    clear: both;
    width: 980px;
    height: 90px;
    background: url(/assets/img/menu_bg.jpg);
}

#menu ul li {
    padding: 0px;
    margin: 0px;
    display: inline;
}


#menu ul li a{
    float: left;
    display: block;
    width: 140px;
    height: 40px;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    color: #ffe64e;
}

#menu li a:hover,#menu li .current{
    background: url(/assets/img/menu_hover.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}



#banner{
    clear: both;
    width: 960px;
    height: 300px;
    padding: 0 10px;
    text-align: center;
    background: url(/assets/img/banner_bg.jpg) no-repeat;
}


#banner .site_title{
    width: 500px;
    padding: 100px 0 0 0;
    margin: auto;
    text-align: center;
}

#banner p{
    padding: 0 20px;
    font-size: 13px;
    margin-top: 100px;
    line-height: 20px;
    font-weight: bold;
    color:#fff
}

#content{
    clear: both;
    width: 920px;
    padding: 30px;
    margin: auto;
}

#content h2{
    color: #fff;
    height: 30px;
    padding: 0;
    margin: 0 0 25px 0;
    font-size: 24px;
}

#content h2 span{
    color: #aca7a7;
}

#side_bar{
    float: left;
    width: 300px;
}

#side_bar h2{
    display: block;
    width: 280px;
    height: 40px;
    margin: 0;
    padding: 12px 0 0 20px;
    background: url(/assets/img/sidebox_title_bg.jpg) no-repeat;
}

.side_column_box{
    clear: both;
    position: relative;
    margin-bottom: 15px;
    background: url(/assets/img/sidebox_bg.jpg);
}

.side_column_box .button{
    margin-left: 30%;
}

.side_column_box .content{
    padding: 20px;
}

.new_section{
    clear: both;
    margin-bottom: 25px;
    padding: 20px;
}

.inputfiled{
    height: 15px;
    width: 245px;
    padding: 2px 5px;
    margin:  0 0 10px 0;
}

.submitbutton{
    float: right;
    margin: 0;
    padding: 4px 6px 3px 6px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    white-space: pre;
}


#main_column{
    float: right;
    width: 500px;
}

#main_column p{
    text-align: justify;
    margin-bottom: 10px;
}



#footer{
    clear: both;
    width: 900px;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    color: #555555;
    background: url(/assets/img/footer_bg.jpg) no-repeat;
    border-top: 1px solid #22211e;
}

#footer a{
    font-weight: normal;
    color: #777777;
}

#footer a:hover{
    color: #cccccc;
}

#footer .footer_menu{
    margin: 0 0 10px 0;
    padding: 0px;
    list-style: none;
}

.footer_menu li{
    margin: 0px;
    padding: 0 20px;
    display: inline;
    border-right: 1px solid #555555;
}